header
{
    width: 80%;
    height: 5%;
    margin-right: 10%;
    margin-top: 7%;
}

.header-icon
{
	display: inline-block;
	width: 10%;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

#logo
{
    display: inline-block;
}

#map
{
    width: 80%;
    height: 40%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.left-indent
{
    margin-left: 10%;
}