header
{
    width: 80%;
    height: 7.5%;
    margin-right: 8%;
    margin-top: 7%;
    background-color: white;
    padding-top: 2px;
    padding-right: 10px;
}

@font-face {
    font-family: 'Bundy';
    src: url('./bundy/bundaysans-bold-webfont.woff') format('woff'), /* Modern Browsers */
    url('./bundy/bundaysans-bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.header-icon
{
	display: inline-block;
	width: 10%;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}

#map-icon
{
    background-color: #d8ffcc;
}

h1
{
    margin-top: 8px;
}

#logo
{
    display: inline-block;
}

#map
{
    width: 80%;
    height: 40%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Bundy', Arial, sans-serif;
}

body
{
    background-color: #d8ffcc;
    color: #4d2600;
}

#i-am-a
{
    margin-right: 10%;
}

#content
{
    text-align: center;
}

.action-button
{
    font-size: 20px;
    padding: 15px;
    border: none;
    color: #d8ffcc;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    background-color: #4d2600;
    font-family: 'Bundy', Arial, sans-serif;
}

.action-button:hover
{
    cursor: pointer;
}

.left-indent
{
    margin-left: 10%;
}